<footer>
  <div class="bluefooter">
    <div class="container">
      <div class="fleft">
        <img src="images/Logo-2.svg" alt="logo" />

        <p>
          We are always open to discuss your project and improve your online
          presence.
        </p>
        <div class="yeldiv">
          <div class="yelleft">
            <h6>Email us</h6>
            <p>
              <a href="mailto:contact@website.com">contact&#64;website.com</a>
            </p>
            <a href="mailto:contact@website.com">
              <i class="fa-solid fa-envelope fa-lg"></i>
            </a>
          </div>
          <div class="yelright">
            <h6>Call us</h6>
            <p><a href="tel:+995500909000">+995500909000</a></p>
            <a href="tel:+995500909000">
              <i class="fa-solid fa-phone fa-lg"> </i
            ></a>
          </div>
        </div>
      </div>
      <div class="fright">
        <h2>Lets Talk!</h2>
        <p>
          We are always open to discuss your project, improve your online
          presence and help with your UX/UI design challenges.
        </p>
        <div class="flogos">
          <a href="https://facebook.com" target="_blank">
            <i class="fa-brands fa-facebook fa-sm" style="color: #ffffff"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="fa-brands fa-twitter fa-sm" style="color: #ffffff"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram fa-sm" style="color: #ffffff"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="fa-brands fa-linkedin fa-sm" style="color: #ffffff"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="whitefooter">
    <div class="container">
      <p>Copyright 2022, Finsweet.com</p>
      <div class="footernav">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about-us">About us</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
