.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 4rem; /* Adjust font size as needed */
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #666; /* Adjust color as needed */
}
