<div class="container">
  <h2>Login</h2>
  <p>If you have an account, sign in with your email address.</p>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      name="email"
      placeholder="Type your email"
    />
    <small *ngIf="email.invalid && (email.dirty || email.touched)">
      <div class="error-message" *ngIf="email.errors?.['required']">
        Email is required.
      </div>
      <div class="error-message" *ngIf="email.errors?.['email']">
        Email should be valid
      </div>
    </small>
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      name="password"
      placeholder="Type password"
    />
    <small *ngIf="password.invalid && (password.dirty || password.touched)">
      <div class="error-message" *ngIf="password.errors?.['required']">
        Password is required.
      </div>
    </small>
    <button [disabled]="loginForm.invalid" type="submit">Log in</button>
    <div class="register">
      Not a member? <a routerLink="/register">Register</a>
    </div>
  </form>
</div>
