<div class="circle-container">
  <div class="circle-wrapper">
    <div class="circle">
      <img src="../../../assets/SHIRT1.png" alt="T-Shirt" />
    </div>
    <p>T-Shirts</p>
  </div>
  <div class="circle-wrapper">
    <div class="circle">
      <img src="../../../assets/SHIRT1.png" alt="Hoodie" />
    </div>
    <p>Hoodies</p>
  </div>
  <div class="circle-wrapper">
    <div class="circle">
      <img src="../../../assets/SHIRT1.png" alt="Bucket Hat" />
    </div>
    <p>Bucket Hats</p>
  </div>
  <div class="circle-wrapper">
    <div class="circle">
      <img src="../../../assets/SHIRT1.png" alt="Buffies" />
    </div>
    <p>Buffies</p>
  </div>
</div>
