.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #417394;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    &:hover {
      background-color: #0056b3;
    }
  }
}

.error {
  border: 1px solid red !important;
}
