<div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <label for="fullName">Full Name</label>
    <input
      type="text"
      formControlName="fullName"
      name="fullName"
      placeholder="Type your full name"
    />
    <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
      <div class="error-message" *ngIf="fullName.errors?.['required']">
        Full name is required
      </div>
      <div class="error-message" *ngIf="fullName.errors?.['pattern']">
        Full name should include first and last name
      </div>
    </small>
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      name="email"
      placeholder="Type your email"
    />
    <small *ngIf="email.invalid && (email.dirty || email.touched)">
      <div class="error-message" *ngIf="email.errors?.['required']">
        Email is required
      </div>
      <div class="error-message" *ngIf="email.errors?.['email']">
        Incorrect email format
      </div>
    </small>
    <!-- <div formGroupName="passwordGroup">  -->
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      name="password"
      placeholder="Type password"
    />
    <small *ngIf="password.invalid && (password.dirty || password.touched)">
      <div class="error-message" *ngIf="password.errors?.['required']">
        Password is required
      </div>
    </small>
    <label for="cofirmPassword">Confirm Password</label>
    <input
      type="password"
      formControlName="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm password"
    />
    <small
      *ngIf="
        confirmPassword.invalid &&
        (confirmPassword.dirty || confirmPassword.touched)
      "
    >
      <div class="error-message" *ngIf="confirmPassword.errors?.['required']">
        Confirm the Password
      </div>
    </small>
    <small
      class="error-message"
      *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
    >
      Password should match
    </small>
    <!-- </div> -->
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
    <div class="register">
      Already registered? <a routerLink="/login">Log In</a>
    </div>
  </form>
</div>
