<div class="header">
  <div class="container">
    <div class="flex">
      <h1>PIXIE</h1>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Shop</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Seller</a></li>
        </ul>
        <button (click)="toggleMenu()">
          <i class="fa-solid fa-bars fa-2xl"></i>
        </button>
        <div *ngIf="isMenuOpen" class="menu">
          <ul>
            <li>Home</li>
            <li>Shop</li>
            <li>Blog</li>
            <li>Seller</li>
          </ul>
        </div>
      </nav>
      <div class="leftside">
        <a href="">
          <i class="fa-regular fa-bookmark fa-lg" style="color: #000000"></i>
        </a>
        <div class="line"></div>
        <a href="">
          <i class="fa-solid fa-cart-shopping fa-lg" style="color: #000000"></i>
        </a>
        <div class="line"></div>
        <a href="">
          <i class="fa-regular fa-user fa-lg" style="color: #000000"></i>
        </a>
        <div class="text">
          <h6>Hello,</h6>
          <a href="">My Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
